@model Book
@{
    ViewBag.Title = " add new Book";
}
<style>
     .blue {
      background-color: #E4D4C8	;
     color:  rgb(116, 65, 93);
     border: 5px solid #39918C	;
     border-radius: 10px;
    }
    h4{
         color: rgb(116, 65, 93);
    }
</style>

<h4> New Book </h4>
<hr/> 

<div class="row">
    <div class="col-md-4">
        <form asp-action="newBook" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <input type="hidden" asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type">
                    <option value="B1">b1</option>
                    <option value="B2">b2</option>
                    <option value="B3">b3</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary blue" />
            
            </div>
        </form>
    </div>
   


</div>
<div>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary blue">Home</a>
</div>
