

<style>

    #center {
        margin: auto;
        text-align: center;
    }
   
   
    div {
        margin: 0px auto;
        text-align: center;
    }
</style>

<div class="center" >
<h1 style="text-align: center; display: block;"> Book Store</h1><br />
<img src="@Url.Content("~/lib/4.jpg") " width="50%"  />
</div>
<div class="center">
    
 
    <h4 style="text-align: center; display: block;">
          &nbsp;&nbsp;&nbsp;  The project offers books for sale 
        </h4>
    <div>
    <pre>
        
            Prepared by  : Aseel Qtait 
                         
           To Dr: Mujahed Elyat
        
</pre>
        </div>
</div>